*
{
    font-family: Calibri;
}

* button
{
    background-color: #1b417e;
    position: relative;
    color: white;
    border-radius: .3em;
    border: none;
    padding: 4px 6px;
    cursor: pointer;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.5);
    transition: all ease 0.25s;
}

button span
{
    vertical-align: middle;
}

header, footer
{
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/
.item1 { grid-area: i1; }
.item2 { grid-area: i2; }
.item3 { grid-area: i3; }
.item4 { grid-area: i4; }

.container
{
    display: grid;
    overflow: hidden;
    grid-template-columns: auto auto;
    gap: 15px;
    grid-template-areas: 
        "i1 i2"
        "i3 i3"
        "i4 i4";
}

@media only screen and (max-width: 600px)
{
    .container
    {
        grid-template-columns: auto auto;
        grid-template-areas: 
            "i1 i1"
            "i3 i3"
            "i2 i2"
            "i4 i4";
    }
}

.container > div
{
    /* background-color: orange; */
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    padding: 5px;
}

/* --------------------FOR INTEM 1-2-------------------- */

.item1 textarea, .item2 textarea
{
    width: 100%;
    border-radius: 7px;
    border: none;
    color: #112D4E;
    background-color: #F9F7F7;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    transition: background-color 0.4s cubic-bezier(0, 0, 0, 1.1); /*cubic-bezier(0, 0, 0.4, 0.65);*/
    transition: box-shadow 0.4s ease-in-out;
}

.bt-conteiner
{
    /* background-color: green;
    opacity: 0.5; */
    position: absolute;
    right: 0;
    width: 55px; /* espacio para la scrollbar -  default: 64*/
    height: 45px;
}

.bt-conteiner button
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.highlight
{
    /* background-color: rgb(40, 160, 93, 0.2) !important; */
    box-shadow: inset 0px -20px 0px 0px rgb(40, 160, 93, 0.8);
}

/* --------------------FOR INTEM 3-------------------- */
.item3
{
    text-align: center;
}

.item3 #Encrypt_Bt
{
    font-family: fantasy;
    padding: 0.5em;
    font-size: 2.2em;
    margin-right: 3.5px;
}

.item3 span
{
    vertical-align: middle;
    font-size: 20px;
    color: #8996a3;
}

.item3 span:nth-child(2)
{
    font-size: 11px;
    color: #8996a3;
}

/* --------------------FOR INTEM 4-------------------- */
table
{
    width: 100%;
    border-collapse: collapse;
}

th 
{
    padding: 6px;
    text-align: left;
    border-bottom: 2px solid #003f5c;
}

tr th:nth-child(2)
{
    text-align: center;
    width: 50px;
}

td
{
    height: 0;
    padding: 10px;
    border-bottom: 1px solid #F0F0F0;
}

td button:nth-child(1)
{
    margin-bottom: 10px;
}

td textarea
{
    box-sizing: border-box;
    width: 100%;
    border-radius: .6em;
    padding: 10px;
    height: 100%;
    resize: none;
    color: #112D4E;
    background-color: #F9F7F7;
    border: none;
}

#message td
{
    border: none;
}

td div
{
    /* background-color: green; */
    height: 5em;
    line-height: 5em;
    position: relative;
    text-align: center;
}

td div span
{
    /* background-color: #003f5c; */
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: #a1aab4;
    font-size: 2em;
    font-family: monospace;
}

/* --------------------FOR SCROLLBARs-------------------- */

::-webkit-scrollbar
{
    width: 7px;
}

textarea::-webkit-scrollbar
{
    width: 4px;
}

::-webkit-scrollbar-track
{
    border: 5px solid #f9f9f9;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb
{
    background-color: #8a8a8a; 
    border-radius: 4px;
}

/* --------------------FOR Select-------------------- */

.testing
{
    background-color: greenyellow;
    width: 0;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.testing select
{
    border: none;
    border-radius: 0.3em;
    padding: 3px;
    outline: 0;
}

#stablement
{
    margin-bottom: 1em;
}

.material-symbols-rounded
{
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 20
  }