.contenedor
{
    display: flex;
    justify-content: center;
}

.elemento1, .elemento2
{
    width: 45%;
  }

.blank_space
{
    width: 50px;
    background-color: black;
}


#for_buttons
{
    padding: 10px;
    border: 1px solid green;
}

.EncryptBox
{
    height: 100px;
    width: 45%;
    float: left;
    resize: none;
}

.EncryptedBox
{
    height: 25px;
    width: 400px;
    background-color: whitesmoke;
    resize: none;
}

.hiddenBt
{
    width: 35px;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    border: 1px solid black;
    padding: 5px;
}